@model NewsViewModel

<div class="container-fluid set-max-size posts">
    <form method="post" asp-action="Create" asp-controller="News">
        <div class="container" style="padding-top: 15px;">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.AuthorId)
            @Html.HiddenFor(m => m.PostTypeId)
            @Html.HiddenFor(m => m.PostSettingsId)
            @Html.HiddenFor(m => m.PostSeoSettingsId)
            <div class="form-group">
                @Html.LabelFor(m => m.Title, "Заголовок новости")
                @Html.TextBoxFor(m => m.Title, new { @required = "required", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Content, "Контент")
                @Html.TextAreaFor(m => m.Content, new { @class = "ckeditor", @id = "content-textarea", @required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Published, "Опубликовать?")
                <div class="form-check">
                    <input type="radio" name="Published" id="published-true" value="true" asp-for="Published" class="form-check-input" />
                    <label asp-for="Deleted" for="published-true" class="form-check-label">Да</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="Published" id="published-false" value="false" asp-for="Published" class="form-check-input" />
                    <label asp-for="Deleted" for="published-false" class="form-check-label">Нет</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Deleted, "Удалить?")
                <div class="form-check">
                    <input type="radio" name="Deleted" id="deleted-true" value="true" asp-for="Deleted" class="form-check-input" />
                    <label asp-for="Deleted" for="deleted-true" class="form-check-label">Да</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="Deleted" id="deleted-false" value="false" asp-for="Deleted" class="form-check-input" />
                    <label asp-for="Deleted" for="deleted-false" class="form-check-label">Нет</label>
                </div>
            </div>
            @*<div class="form-group">
            @Html.LabelFor(model => model.Authors, "Автор")
            @Html.DropDownListFor(model => model.SelectedAuthor, new SelectList(Model.Authors, "Список авторов", "Text"), "- Выберите автора -", new {@required = "required"})
        </div>*@
            @*<div class="form-group">
            @Html.LabelFor(m => m.PostCategories, "Категории")
            @{
                if (Model.PostCategories != null && Model.PostCategories.Any())
                {
                    foreach (var category in Model.PostCategories)
                    {
                        <div>
                            @Html.LabelFor(m => category, category.Category.Name)
                            @Html.CheckBoxFor(m => category.IsChecked)
                        </div>
                    }
                }
            }
        </div>*@
            <button type="submit" class="btn btn-outline-success">Create</button>
        </div>
    </form>
</div>

@section StylesSection
{
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/plugins/table.min.css">
}

@section ScriptsSection
{
    <script src="~/js/pager.js"></script>
    @*<script src="~/js/manager/ckeditor/ckeditor.js"></script>*@

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/js/languages/ru.js"></script>

    <script type="text/javascript" src="~/js/manager/editor.js"></script>
    <script>
        var editor = new EditorConfig();
        editor.initArea('news');
    </script>
}