@model CommonViewModel

@{
	var seoTitle = Model.SeoTitle.IsNotNullOrWhiteSpace() 
		? Model.SeoTitle 
		: Model.PageTitle.ToString();
}

<meta charset="utf-8">

<meta name="site-version" content="@CommonViewModel.AssemblyVersion" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="@Model.Description">
<meta name="title" content="@seoTitle">
<meta name="keywords" content="@Model.Keywords">
<meta name="author" content="andrey@mokeev1995.ru">

<base href="@Url.Action("Index", "Home")"/>

<!--<meta property="og:image" content="path/to/image.jpg">-->

<link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/img/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/img/favicon/apple-touch-icon-114x114.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png">
<link rel="manifest" href="~/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>@Model.PageTitle</title>

<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" asp-append-version="true">