@model PaginatorViewModel


@if (Model.PagesCount > 1)
{
    <div class="feed__navigation">
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a class="pagination__action pagination__action_back" href="@Url.Action("Index", Model.Controller, new {page = Model.CurrentPage - 1})">Назад</a>
            }

            @for (var i = 0; i < Model.PagesCount; i++)
            {
                var pageNumber = i + 1;

                if (Model.CurrentPage == pageNumber)
                {
                    <a class="pagination__item pagination__item_current">@pageNumber</a>
                }
                else
                {
                    <a class="pagination__item" href="@Url.Action("Index", Model.Controller, new {page = pageNumber})">@pageNumber</a>
                }
            }

            @if (Model.PagesCount > Model.CurrentPage)
            {
                <a class="pagination__action pagination__action_next" href="@Url.Action("Index", Model.Controller, new {page = Model.CurrentPage + 1})">Вперед</a>
            }
        </div>
    </div>
}