@model PageViewModel

@Html.Partial("Posts/PostEditors")

<form method="post" asp-action="Edit" asp-controller="Pages" asp-antiforgery="true">
    <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.AuthorId)
        @Html.HiddenFor(m => m.PostTypeId)
        @Html.HiddenFor(m => m.PublishDate)
        @Html.Partial("Posts/PostCommonTab")

        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
</form>