@model AdminPageBaseViewModel

<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <base href="@Url.Action("Index", "Home")"/>

        <title>@Model.PageTitle</title>

        <link href="~/css/manager/media-before.css" rel="stylesheet"/>
        <link href="~/css/manager/media-inside.css" rel="stylesheet"/>
        <link href="~/css/manager/manager-main.css" rel="stylesheet"/>
        <link href="~/css/manager/media-after.css" rel="stylesheet"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body class="d-flex flex-column">
        @Html.Partial("ManagerHeader", Model.TopMenu)

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                    @Html.Partial("Menu/LeftMenu", Model.TopMenu)
                </div>
                <div class="col-12 col-sm-8 col-md-9 col-lg-10 col-xl-10">
                    @RenderBody()
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>