@using MathSite.BasicAdmin.ViewModels.SharedModels.AdminPagesViewModel
@model MathSite.BasicAdmin.ViewModels.SharedModels.AdminPagesViewModel.AdminPageBaseViewModel

<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <base href="@Url.Action("Index", "Home")"/>

        <title>@Model.PageTitle</title>

        <link href="~/css/manager/manager-main.css" rel="stylesheet"/>
        <link href="~/css/manager/media-before.css" rel="stylesheet"/>
        <link href="~/css/manager/media-inside.css" rel="stylesheet"/>
        <link href="~/css/manager/media-after.css" rel="stylesheet"/>
        
        <link href="~/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body class="d-flex flex-column">
        @Html.Partial("ManagerHeader", Model.TopMenu)

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 sidebar-column bg-light">
                    @Html.Partial("Menu/LeftMenu", Model.LeftMenu)
                </div>
                <main class="ml-sm-auto col-12 col-sm-8 col-md-9 col-lg-10 col-xl-10 pages-layout">
                    @RenderBody()
                </main>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        @if (Model?.LeftMenu != null)
        {
            <script>
                $(function() {
                    $('.sidebar-select > select').change(function () {
                        location.href = this.value;
                    });
                });
            </script>
        }
        @RenderSection("StylesSection", false)
        @RenderSection("ScriptsSection", false)
    </body>
</html>