@using MathSite.Common.Extensions
@model MathSite.BasicAdmin.ViewModels.Files.IndexFilesViewModel

@{
    var hasDirectories = Model.Directories.Any();
    var hasFiles = Model.Files.Any();
    var hasOneFolder = Model.Directories.Count() == 1;
    var directory = Model.Directories.FirstOrDefault();
    var folderIsBack = directory.IsNotNull() 
        ? directory.Title == ".."
        : false;
}    

@if (!hasDirectories && !hasFiles || !hasFiles && hasOneFolder && folderIsBack)
{
    <h2>Folder is empty.</h2>
}

<ul>
    @foreach (var dir in Model.Directories)
    {
        <li title="@dir.FullPath">
            <a href="@Url.Action("Index", new {path = dir.FullPath})">@dir.Title</a>
        </li>
    }
</ul>
<ol>
    @foreach (var file in Model.Files)
    {
        <li title="@file.FullFilePath">
            @file.Title<br/>
            Created at: @file.CreationDate
        </li>
    }
</ol>