@model EventPreviewViewModel

<article class="events__item">
    <a class="event-thumb" href="@Model.Url">
        <div class="events__heading">
            @Model.Title
        </div>
        <div class="event-thumb__note">
            <time class="event-thumb__time" datetime="@Model.DateAndTime.ToString("O")">
                @Model.DateAndTime.ToString("dd MMMM yyyy г.")
            </time>
            <div class="event-thumb__place">
                @Model.Location
            </div>
        </div>
    </a>
</article>