@model NewsItemViewModel
@{
    Layout = "SecondaryLayout";

    var image = Model.PreviewImageId != null
        ? Url.Action("Get", "File", new { id = Model.PreviewImageId })
        : "images/default_post_preview@2x.png";
    var image2x = Model.PreviewImage2XId != null
        ? Url.Action("Get", "File", new { id = Model.PreviewImageId })
        : image;
}

<div class="preview">
    <div class="preview__background">
        <div class="preview__inner">
            <div class="preview__image" src="images/space.jpg" width="1920" height="305"></div>
        </div>
    </div>
    <div class="preview__content">
        <div class="preview__wrap container">
            <div class="preview__title section-head">
                <h1 class="section-head__title heading heading_inverted heading_preview">
                    @Model.Title
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="page">
    <div class="page__wrap container">
        <div class="page__head">
            <div class="page__title section-head">
                <h1 class="section-head__title heading">
                    @Model.Title
                </h1>
            </div>
        </div>
        <div class="page__main">
            <div class="page__body">
                <div class="wysiwyg">
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <div class="page__sidebar">
                <div class="page__aside-section">
                    <img class="featured-image" src="@image" srcset="@image2x 2x" alt="@Model.Title">
                </div>
                @*
                    <div class="page__aside-section">
                        <div class="uploads">
                            <div class="uploads__item file" style="color: #d20000;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    pdf
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #006df3;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    doc
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #54ca3d;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    xls
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #7e3bd3;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    zip
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #ff4106;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    ppt
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #006df3;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    doc
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #54ca3d;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    xls
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #7e3bd3;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    zip
                                </div>
                            </div>
                            <div class="uploads__item file" style="color: #ff4106;">
                                <svg class="file__icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 70 70">
                                    <path fill="currentColor" d="M54.0499999,69.43 L15.9399999,69.43 C12.2916812,69.4244931 9.33550683,66.4683187 9.32999992,62.82 L9.32999992,7.17999999 C9.33550683,3.53168127 12.2916812,0.575506898 15.9399999,0.569999993 L44.2399999,0.569999993 L60.6699999,18.87 L60.6699999,62.82 C60.664483,66.4722192 57.7022233,69.4300042 54.0499999,69.43 Z M15.9399999,2.56999999 C13.3962489,2.57550001 11.3354999,4.63624896 11.3299999,7.17999999 L11.3299999,62.82 C11.3354999,65.363751 13.3962489,67.4245 15.9399999,67.43 L54.0499999,67.43 C56.593751,67.4245 58.6544999,65.363751 58.6599999,62.82 L58.6599999,20.21 L50.0499999,20.21 C45.9598538,20.2044914 42.6455085,16.8901461 42.6399999,12.8 L42.6399999,2.56999999 L15.9399999,2.56999999 Z M44.6299999,3.99999999 L44.6299999,12.8 C44.6355033,15.7855779 47.054422,18.2044966 50.0399999,18.21 L57.3799999,18.21 L44.6299999,3.99999999 Z" />
                                </svg>
                                <div class="file__extension">
                                    ppt
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page__aside-section">
                        <a class="button button_full-width button_big button_medium button_small button_tiny" href="#">Регистрация</a>
                    </div>*@
            </div>
        </div>
    </div>
</div>