@model NewsViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Title, "Заголовок новости")
    @Html.TextBoxFor(m => m.Title, new { required = "required", @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Content, "Контент")
    @Html.TextAreaFor(m => m.Content, new { id = "content-textarea", required = "required", @class = "ckeditor form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Published, "Опубликовать?")
    <div class="form-check">
        <input type="radio" name="Published" id="published-true" value="true" asp-for="Published" class="form-check-input" />
        <label asp-for="Deleted" for="published-true" class="form-check-label">Да</label>
    </div>
    <div class="form-check">
        <input type="radio" name="Published" id="published-false" value="false" asp-for="Published" class="form-check-input" />
        <label asp-for="Deleted" for="published-false" class="form-check-label">Нет</label>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Authors, "Авторы")
    <select class="form-control" asp-for="@Model.AuthorId" asp-items="@Model.Authors"></select>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Categories, "Категории")
    <select multiple class="form-control" asp-for="@Model.SelectedCategories" asp-items="@Model.Categories"></select>
</div>
@*<div class="card-body">
        @{
            if (Model.Categories != null && Model.PostCategories.Any())
            {
                @Html.LabelFor(m => m.PostCategories, "Категории")
                <div class="card-body">
                    @Html.DropDownListFor(model => model.SelectedCategories, Model.Categories, new { @required = "required" })
                </div>
            }
        }
    </div>*@