@model CommonViewModel
<!DOCTYPE html>
<html lang="ru">
    <head>
        @Html.Partial("Partials/Headers", Model)
    </head>
    <body class="body">
        <!-- Header -->
        @Html.Partial("Partials/Header", Model)

        @RenderBody()

        <!-- Information -->
        @Html.Partial("Partials/Information", Model)

        <!-- Content -->
        @RenderBody()

        <!-- Footer -->
        @Html.Partial("Partials/Footer", Model)

        <!-- Scripts -->
        @Html.Partial("Partials/Scripts", Model)
    </body>
</html>