@model CommonViewModel
<!DOCTYPE html>
<html lang="ru">
    <head>
        @Html.Partial("Partials/Headers", Model)
        <meta name="yandex-verification" content="36ceaccef4e7c51b" />
        <meta name="google-site-verification" content="bLVvUYGU-4vdvYXKhc1Puq-_QfNJH1wTts8WyxUze6o" />
        <meta name='wmail-verification' content='08689b0cfaedac87c9cc31a5881a6c36' />
    </head>
    <body class="body">
        <!-- Header -->
        @Html.Partial("Partials/Header", Model)

        <!-- Content -->
        @RenderBody()

        <!-- Information -->
        @Html.Partial("Partials/Information", Model)

        <!-- Footer -->
        @Html.Partial("Partials/Footer", Model)

        <!-- Scripts -->
        @Html.Partial("Partials/Scripts", Model)
    </body>
</html>