@model PageViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Title, "Заголовок статьи")
    @Html.TextBoxFor(m => m.Title, new { required = "required", @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Content, "Контент")
    @Html.TextAreaFor(m => m.Content, new { id = "content-textarea", required = "required", @class = "ckeditor form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Published, "Опубликовать?")
    <div>
        @Html.LabelFor(m => m.Published, "Да")
        @Html.RadioButtonFor(m => m.Published, true)
    </div>
    <div>
        @Html.LabelFor(m => m.Published, "Нет")
        @Html.RadioButtonFor(m => m.Published, false)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AuthorId, "Авторы")
    <select multiple class="form-control" asp-for="@Model.AuthorId" asp-items="@Model.Authors">

    </select>
</div>
@*<div class="card-body">
    @{
        if (Model.PostCategories != null && Model.PostCategories.Any())
        {
            @Html.LabelFor(m => m.PostCategories, "Категории")
            <div class="card-body">
                @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.PostCategories, "Список категорий", "Text"), "- Выберите категорию -", new {@required = "required"})
            </div>
        }
    }
</div>*@