@model MenuLink
@{
	var activeClass = Model.IsActive ? "active" : "";
	var classLink = ViewData["classLink"] ?? "nav-link";
}

<a
	class="@classLink @activeClass"
	href="@Model.Url"
	title="@Model.Alt"
	aria-label="@Model.Alt">
	@Model.DisplayingTitle
</a>